body { color:#444; font-family: Roboto, Arial, sans-serif; font-size: 14px; padding:0; margin:0; }
div, p, b { padding;0 margin: 0 }

.searchbox {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border: 1px solid silver;border-top: 1px solid silver;width: 88%;display: block;padding: 10px 8px; float: left; }
#chat { width: 19%; float: right; }
#conversation { border: 0px solid silver; overflow:scroll-y; height:508px; overflow:auto; margin-bottom:10px; }
#conv { /*margin-right: 10px;*/ margin-top: 10px;   }
#conversation b { line-height: 20px; }
#datasend { visibility: hidden; }
#users {padding:0px;overflow:scroll-y; visibility: hidden; height:0px;}


/*Drawing board*/
#board { width: 69%; border-right: 0px solid silver; float: left; }



/*Drawing board*/



